<div class="profile-page">

    <div class="header">
        <div>
            <h2>Mon profil</h2>
        </div>
    </div>

    @if (isLoading()) {
    <app-loading-spinner message="Chargement du profil..."></app-loading-spinner>
    } @else {

    <div class="profile-container">

        <mat-card class="profile-card">

            <div class="card-heading">

                <div class="icon-badge">
                    <mat-icon>person</mat-icon>
                </div>

                <div>
                    <h3>Informations personnelles</h3>
                    <p class="subtitle">
                        Modifiez votre nom et votre adresse email
                    </p>
                </div>

            </div>


            <mat-divider></mat-divider>


            <form [formGroup]="infoForm" (ngSubmit)="onSubmitInfo()" class="form-body">

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Nom</mat-label>

                    <input matInput type="text" formControlName="name" />

                    @if (infoForm.get('name')?.invalid && infoForm.get('name')?.touched) {
                    <mat-error>
                        Le nom est requis
                    </mat-error>
                    }

                </mat-form-field>



                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Email</mat-label>

                    <input matInput type="email" formControlName="email" />

                    @if (infoForm.get('email')?.invalid && infoForm.get('email')?.touched) {
                    <mat-error>
                        Email invalide
                    </mat-error>
                    }

                </mat-form-field>



                <div class="form-actions">

                    <button mat-raised-button color="primary" type="submit">
                        Enregistrer
                    </button>

                </div>


            </form>


        </mat-card>





        <mat-card class="profile-card">


            <div class="card-heading">

                <div class="icon-badge">
                    <mat-icon>lock</mat-icon>
                </div>


                <div>

                    <h3>Sécurité</h3>

                    <p class="subtitle">
                        Changez votre mot de passe régulièrement
                    </p>

                </div>


            </div>



            <mat-divider></mat-divider>




            <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()" class="form-body">



                <mat-form-field appearance="outline" class="full-width">


                    <mat-label>
                        Mot de passe actuel
                    </mat-label>


                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'"
                        formControlName="currentPassword" />



                    <button mat-icon-button matSuffix type="button"
                        (click)="hideCurrentPassword = !hideCurrentPassword">

                        <mat-icon>
                            {{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>

                    </button>



                    @if (passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched) {

                    <mat-error>
                        Mot de passe actuel requis
                    </mat-error>

                    }


                </mat-form-field>






                <mat-form-field appearance="outline" class="full-width">


                    <mat-label>
                        Nouveau mot de passe
                    </mat-label>


                    <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" />



                    <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">

                        <mat-icon>
                            {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>

                    </button>



                    @if (passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched) {

                    <mat-error>
                        6 caractères minimum
                    </mat-error>

                    }


                </mat-form-field>





                <div class="form-actions">


                    <button mat-raised-button color="primary" type="submit">

                        Modifier le mot de passe

                    </button>


                </div>



            </form>



        </mat-card>


        <mat-card class="profile-card danger-zone">

            <div class="card-heading">

                <div class="icon-badge danger-icon">
                    <mat-icon>warning</mat-icon>
                </div>

                <div>
                    <h3>Zone dangereuse</h3>
                    <p class="subtitle">
                        Actions irréversibles, à utiliser avec précaution
                    </p>
                </div>

            </div>

            <mat-divider></mat-divider>

            <div class="form-body">
                <p class="danger-text">
                    Supprimer toutes vos transactions videra définitivement votre historique. Vos catégories et votre
                    compte resteront intacts.
                </p>

                <div class="form-actions">
                    <button mat-stroked-button color="warn" type="button" (click)="onResetTransactions()">
                        <mat-icon>delete_forever</mat-icon>
                        Réinitialiser mes transactions
                    </button>
                </div>
            </div>

        </mat-card>


    </div>

    }

</div>